name: JH Translations

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - dev-jethub
      - master
      - master-jethub
    paths:
      - "**strings.json"

env:
  DEFAULT_PYTHON: "3.11"

jobs:
  upload:
    name: Upload
    if: github.repository_owner == 'jethub-homeassistant'
    runs-on: ${{ vars.RUNNER }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.1.1

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Prepare Translations
        run: |
          python3 -m script.jhtranslations upload

      - name: Get translated resources from current HA core dev
        run: |
          VERSION=$(curl -s https://version.home-assistant.io/dev.json | jq -r '.homeassistant."qemuarm-64"')
          docker create --name temp-core ghcr.io/home-assistant/aarch64-homeassistant:$VERSION
          docker cp temp-core:"/usr/src/homeassistant/build/translations-download/" build/translations-download/
          docker rm temp-core

      - name: Upload Translations
        uses: transifex/cli-action@v2
        with:
          token: ${{ secrets.TX_TOKEN }}
          args: push -s -t -a
